doctype html
html(lang="ar")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title الشركة الحديثة للإلكترونيات
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Markazi+Text")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Aref+Ruqaa")
    body
        .container
            .text
                p تعلن الشركة الحديثة للإلكترونيات عن طرح منتجاتها الحديثة للبيع بتخفيضات لم يسبق لها مثيل ،<br> تابعونا وتواصلوا معنا تجدوا ما يسركم

        .container
            h1 عروض مذهلة
            .row
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج
                div(class="col-12 col-lg-4 col-md-6")
                    .card
                        img(src="img/lab.jpg", class="card-img-top w-100", alt="")
                        .card-body
                            h5.card-title هنا يوضع اسم المنتج
                            p.card-text هنا توضع تفاصيل المنتج
                        ul(class="list-group list-group-flush")
                            li.list-group-item هنا يوضع سعر المنتج

        script(src="http://localhost:35729/livereload.js")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")